@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}
:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-blue: hsl(229, 23%, 23%);
  --dark-grayish: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}


.container{
    height: 100vh;
    background: var(--dark-cyan);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.top-bg{
    background-image: url(images/bg-pattern-top.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 800px;
    width: 800px;
    position: absolute;
    top: -370px;
    left: -40px;
}
.bottom-bg{
    position: absolute;
    background: url("images/bg-pattern-bottom.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 960px;
    width: 960px;
    bottom: -600px;
    right: -210px;
}

.card
{
    background-color: white;
    height: 23rem;
    width: 350px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 32px 30px rgba(37, 37, 37, 0.1);
}

.card .bg-img {
    height: 140px;
    background: url("images/bg-pattern-card.svg");
    border-radius: 20px 20px 0 0;
 
  }

  .profile .dp{
  background: white;
  padding: 5px; 
  border-radius: 50%; 
  position: absolute;
  left: 36%; 
  top: 88px;
  display: flex;
  align-items: center;
  justify-content: center; 
  }

  .dp img{
    border-radius: 50%;
  }

  .profile-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
  }

  .profile
{
    width: 100%;
  text-align: center;
  border-bottom: 0.5px solid rgba(49, 49, 49, 0.1);
  padding-bottom: 14px;
}

.stats
{

   padding-top: 25px;
  text-align: center;
       width: 100%;
    display: flex;
     align-items: center;
    justify-content: space-evenly; 
}

.profile .name {
    font-size: 20px;
    margin-bottom: 13px;
  }
  .profile .name span {
    font-weight: 700;
    color: var(--very-dark-blue);
  }
p{
   color: var(--dark-grayish);
   font-size: 2px;
  }
  .profile .location {
    color: var(--dark-grayish);
    font-size: 14px;
    margin-top: 12px;
  }
  .stats p {
    color: var(--dark-grayish);

    font-size: 12px;
  }
  .space{
    letter-spacing: 1px;
  }
  
  .stats .number {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
    color: var(--very-dark-blue);
  }

   /* Responsive */
   @media screen and (max-width:376px){ 
    .top-bg{
        height: 375px;
        width: 375px;
        top:-160px;
        left:-167px;
    }
    .bottom-bg{
        height: 375px;
        width: 405px;
        bottom: -170px;
        right: -230px;
    }
}
  